<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<body style="background-color:#e8cebf"></body>

  
  <h1 style="margin-left: 45%;"><%= title %></h1>

<p style="margin-left: 45%;">C# and Java Programming</p>
<img src="https://cdn130.picsart.com/309721067023211.png?to=crop&type=webp&r=1456x1456&q=85" style="margin-left: 45%;" height="200px">
<p style="margin-left: 45%;">HTML and CSS </p>
<img src="https://cdn-icons-png.flaticon.com/512/6867/6867291.png" style="margin-left: 45%;" height="200px">

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

